@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
  padding: 0.15rem 1rem;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  font-weight: 500;
}

main {
  min-height: 30vh;
  display: grid;
  place-content: center;
  text-align: center;
}
